name: ML Pipeline - Cats vs Dogs

on:
  push:
    branches:
      - main

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install boto3 awscli

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Create data folder
        run: mkdir -p data/raw

      - name: Download dataset from S3
        run: |
          aws s3 cp s3://cats-dogs-mlops-bucket/archive.zip data/raw/archive.zip

      - name: Unzip dataset
        run: |
          unzip data/raw/archive.zip -d data/raw

      - name: Debug folder structure
        run: |
          echo "Listing data/raw"
          ls -R data/raw

      - name: Clean corrupted images
        run: python src/clean_data.py

      - name: Train model
        run: python -m src.train
