name: Train

on:
  push:
    branches:
      - main

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Setup Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install awscli

      # 4️⃣ Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      # 5️⃣ Download dataset from S3
      - name: Download dataset from S3
        run: |
          mkdir -p data/raw
          aws s3 sync s3://cats-dogs-mlops-bucket/raw data/raw

      # 6️⃣ Debug folder structure
      - name: Debug files in raw folder
        run: |
          echo "Listing data/raw contents:"
          ls -R data/raw

      # 7️⃣ Unzip dataset
      - name: Unzip dataset
        run: |
          unzip -o data/raw/*.zip -d data/raw || true

      # 8️⃣ Clean corrupted images
      - name: Clean corrupted images
        run: python src/clean_data.py

      # 9️⃣ Train model
      - name: Train model
        run: python -m src.train
